body{
    // display: none;
}

.ReactModalPortal{
    .ReactModal__Overlay--after-open{
        background-color: rgba(0,0,0,0.6) !important;
        overflow-x: scroll;
        .ReactModal__Content--after-open{
            // height: 50vh;
            // width: 70vw;
        }
    }
}